*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
h1{
    margin-top: 2rem;
}
.blinker{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
h1,h2{
    color: white;
    text-align: center;
}



table{
    width: inherit;
    margin: 2rem auto;
    border: none;
}

tr:nth-child(1){
    font-weight: bolder;
    text-align: center;
}
td:nth-child(1){
    text-align: left;
    font-weight: bolder;
    background-color: rgb(118, 174, 207);
}
td:nth-child(2){
    background-color: green;
}
td:nth-child(3){
    background-color: red;
}
td:nth-child(4){
    background-color: darkred;
}
td:nth-child(5){
    background-color: #04101b;
}
td:nth-child(6){
    background-color:#080d40;
    color: white;
}
td{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

div#fx{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    border: 3px solid white;
    margin-right: 0.5rem;
}
#fx ul{
    border: 2px solid yellow;
}
li{
    color: white;
    text-align: center;
    list-style-type: none;
}
li:nth-child(1){
    background-color: rgb(118, 174, 207);
}
li:nth-child(2){
    background-color: green;
}
li:nth-child(3){
    background-color: red;
}
li:nth-child(4){
    background-color: darkred;
}

li:nth-child(5){
    background-color: #04101b;
}

li:nth-child(6){
    background-color:#080d40;
}


@media screen and (max-width: 860px) {
    td{
       display: block; 
    }
    tr:nth-child(1){
        display: none;
    }

}