*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
h1{
    margin-top: 2rem;
}
.blinker{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
h1,h2{
    color: red;
    text-align: center;
}

div#search{
    width: 30rem;
    /* background-color: black; */
    margin: 2rem auto;
    padding: 0;
}
#search input{
    width: 30rem;
    margin: 0;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
}

table{
    width: 60rem;
    margin: 2rem auto;
    border: none;
    box-shadow: 11px 6px 50px -6px rgba(0,0,0,0.49);
    -webkit-box-shadow: 11px 6px 50px -6px rgba(0,0,0,0.49);
    -moz-box-shadow: 11px 6px 50px -6px rgba(0,0,0,0.49);
    
}


#content{
    overflow: auto;
}

tr:nth-child(1){
    font-weight: bolder;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #f6f6f7;
}
td:nth-child(1){
    text-align: left;
    font-weight: bolder;
    color: black;
    /* background-color: rgb(118, 174, 207); */
}
td:nth-child(2){
    /* background-color: green; */
    color: blue;
}
td:nth-child(3){
    /* background-color: red; */
    color: red;
}
td:nth-child(4){
    /* background-color: darkred; */
    color: rgb(2, 179, 2);
}
td:nth-child(5){
    /* background-color: #04101b; */
    color: rgb(121, 65, 2);
}
td:nth-child(6){
    /* background-color:#080d40; */
    /* color: white; */
    color: #080d40;
}
td{
    /* background-color: black; */
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    border-collapse: collapse;
    
}
tr{
    border: 2px solid green;
    /* border-collapse: collapse; */
}





div#fx{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    border: 3px solid white;
    margin-right: 0.5rem;
}
#fx ul{
    border: 2px solid yellow;
}
li{
    color: white;
    text-align: center;
    list-style-type: none;
}
li:nth-child(1){
    background-color: rgb(118, 174, 207);
}
li:nth-child(2){
    background-color: green;
}
li:nth-child(3){
    background-color: red;
}
li:nth-child(4){
    background-color: darkred;
}

li:nth-child(5){
    background-color: #04101b;
}

li:nth-child(6){
    background-color:#080d40;
}


    /* @media screen and (max-width: 860px) {
        td{
        display: block; 
        }
        tr:nth-child(1){
            display: none;
        }

    } */

    